<div class="container intro">
  <h2 class="h2">Кто мы?</h2>
  <p class="lead text-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat et, sapiente vel officiis repudiandae tenetur excepturi saepe accusamus quibusdam magni eos quam, obcaecati molestias est.</p>
  <p class="text-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat et, sapiente vel officiis repudiandae tenetur excepturi saepe accusamus quibusdam magni eos quam, obcaecati molestias est.</p>
  <p class="text-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat et, sapiente vel officiis repudiandae tenetur excepturi saepe accusamus quibusdam magni eos quam, obcaecati molestias est.</p>
  <h3 class="h3">Наши контакты</h3>
  <div class="col-lg-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Горячая линия</td>
          <td>8 800 555 35 35</td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td>hotline@somestuffshop.com</td>
        </tr>
        <tr>
          <td>Группа ВК</td>
          <td><a href="#">тык</a></td>
        </tr>
        <tr>
          <td>Наш Instagram</td>
          <td><a href="#">тык</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
